@-webkit-keyframes flicker-1 {
    0%,
    100% {
      opacity: 1;
    }
    41.99% {
      opacity: 1;
    }
    42% {
      opacity: 0;
    }
    43% {
      opacity: 0;
    }
    43.01% {
      opacity: 1;
    }
    47.99% {
      opacity: 1;
    }
    48% {
      opacity: 0;
    }
    49% {
      opacity: 0;
    }
    49.01% {
      opacity: 1;
    }
  }
  @keyframes flicker-1 {
    0%,
    100% {
      opacity: 1;
    }
    41.99% {
      opacity: 1;
    }
    42% {
      opacity: 0;
    }
    43% {
      opacity: 0;
    }
    43.01% {
      opacity: 1;
    }
    47.99% {
      opacity: 1;
    }
    48% {
      opacity: 0;
    }
    49% {
      opacity: 0;
    }
    49.01% {
      opacity: 1;
    }
  }
  
:root{
    --section:#08f;
    --primario:#02416D;
    --secundario_n: #1d1b31;
    --blanco: #ffffff;
    --azulclaro:rgb(76, 159, 233);
    --azuloscuro:rgb(5, 74, 134);
}
/*Imagenes Escuela*/
.escuela{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.escuela .logoesc{
    grid-column: 1/2;
}

.escuela .institucion{
    grid-column: 2/4;
}



.carreras__imagen{
  background-color: #000000;
  border-radius: 0;

}

/*Servicios*/
.ser{
  background-color: #ffffff;
}

.servicios{
    scroll-snap-align: center;
    scroll-snap-stop: always;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

@media (min-width: 768px) { 
    .servicios{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;/*margen entre columnas*/
       
    }    
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3{
    color:var(--primario);
    font-weight: normal;
    font-weight: bold;
}

.servicio p{
    line-height: 2;
    text-align: center;
}

.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--section);
    border-radius: 50%;
/*alinear vertical y horizontalmente los iconos */
    display: flex;
    justify-content: space-evenly;
    align-items: center; /*align items para centrar verticalmente*/
}

.servicio .iconos i{
    font-size: 5rem;
}

.sede{
    grid-column: 2/4;
}

.sede .contenido_sede{
    text-align: center;
}

.sede .contenido_sede p{
    font-size: 16px;
}

/*Plan estudios*/
.contenedor-planE {
    padding-top: 2rem;
    background-color: black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.planestudios{
    display: flex;
    flex-direction: column;
    background-color: black;
}

.planestudios h3{
    color:azure;
    font-size: 3rem;
}

.planestudios .periodos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4rem;
    padding: 2rem;
}


.planestudios .periodos .contenido_periodo{
    border-radius: 10%;
    background-color: var(--secundario_n);
}

.planestudios .periodos .contenido_periodo:hover{
    /*width: 110%;*/
    /*height: 110%;*/
    box-shadow: 0px 0px 10px antiquewhite;
    transition: all 1s ease;
    
}

.planestudios .periodos .contenido_periodo h4{
    -moz-transform: translate(-25px, 0px) skew(-16deg, 0deg);
    -webkit-transform: translate(-25px, 0px) skew(-16deg, 0deg);
    -o-transform: translate(-25px, 0px) skew(-16deg, 0deg);
    -ms-transform: translate(-25px, 0px) skew(-16deg, 0deg);
    transform: translate(-25px, 0px) skew(-16deg, 0deg);
    color: #ffffffc1;
    background: #d2e99d;
  text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4, 2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4, 8px 7px 0px #5dabcd;
 
}


.planestudios .periodos .contenido_periodo li{
    font-size: 1.5rem;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}   

/*Proceso Admisiom*/
.proadmi{
    padding: 5%;
}
.proadmi_titulo{
     font-size: 3rem;
    color: #131313;
    letter-spacing: .15em;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}
.proadmi .proadmi_con{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.proadmi .proadmi_con .proadmi_lista{
    grid-column: 1/3;
    font-size: 14px;
}

.proadmi .proadmi_con .img{
    grid-column: 3/4;
    background-image: url(../img/altavoz-3d.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size  : contain;
}

.comentarios{
    background-color: #ffffff;
    padding-bottom: 1rem;
    overflow-y: scroll;
    max-height: 80rem;
    margin-bottom: 3rem;
    -webkit-box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 5px 15px 5px rgba(0,0,0,0);
}
.comentario-titulo{
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 3rem;
}
.comentario p {
    
}
.comentario{
    border-top: 8px solid #1C6EA4;
    border-radius: 0px 40px 0px 0px;
    margin: 0 3rem;
}