:root{
    --section:#08f;
    --primario:#02416D;
    --secundario_n: #1d1b31;
}

/*Imagenes Escuela*/
.escuela{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.escuela .logoesc{
    grid-column: 1/2;
}

.escuela .institucion{
    grid-column: 2/4;
}


.escuela .detalles__imagen{
    height: 40rem;
    width: 100%;
    object-fit: contain;
}


/*Servicios*/

.servicios{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

@media (min-width: 768px) { 
    .servicios{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;/*margen entre columnas*/
       
    }    
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3{
    color:var(--primario);
    font-weight: normal;
    font-weight: bold;
}

.servicio p{
    line-height: 2;
    text-align: center;
}

.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--section);
    border-radius: 50%;
/*alinear vertical y horizontalmente los iconos */
    display: flex;
    justify-content: space-evenly;
    align-items: center; /*align items para centrar verticalmente*/
}

.servicio .iconos i{
    font-size: 5rem;
}

.sede{
    grid-column: 2/4;
}


/*Plan estudios*/
.planestudios{
    display: flex;
    flex-direction: column;
    background-color: black;
}

.planestudios h3{
    color:azure;
}

.planestudios .periodos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4rem;
    padding: 2rem;
}


.planestudios .periodos .contenido_periodo{
    border-radius: 10%;
    background-color: var(--secundario_n);
}

.planestudios .periodos .contenido_periodo:hover{
    /*width: 110%;*/
    /*height: 110%;*/
    box-shadow: 0px 0px 10px antiquewhite;
    transition: all 1s ease;
    
}

.planestudios .periodos .contenido_periodo h4,
.planestudios .periodos .contenido_periodo li{
    font-size: 1.5rem;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}   

/*Comentarios*/
.comentarios {
   background-color: #08f;
}

.fecha {
    font-size: 14px;
    color: #888;
}

.calificacion {
    font-weight: bold;
    color: #333;
}

.opinion {
    margin-top: 10px;
}
